.header {
    background: #770D0D;
    padding: 10px;
    margin-bottom: 15px;
} 
.levels {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 50px;
}

  
  