<app-header>
    <p levels></p>
  
    <div content>
      <p class="heading">List of cars in service</p>
    </div>
  </app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="carservice-table table table-striped">
        <thead>
          <tr>
            <th>car</th>
            <th>plate</th>
            <th>delivery date</th>
            <th>client</th>
            <th>cost</th>
            <th>details</th>
            <th>edit</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars; let i = index">
            <td csImportant [ngClass]="{'row-error': car.isFullyDamaged}"> {{ car?.model | uppercase }}</td>
            <td> {{ car.plate }}</td>
            <td> {{ car.deliveryDate }}</td>
            <td> {{ car.clientFirstName }} {{ car?.clientSurname}}</td>
            <td csImportant> {{ car.cost}}</td>
            <td (click)="editCar(car, $event)"><button type="button" class="btn btn-primary" [routerLink]="['/viewDetails']">View</button></td>
            <td (click)="showEditForm()"><button type="button" class="btn btn-success">Edit</button></td>
            <td (click)="removeCar(car, $event)"><button type="button" class="btn btn-danger">X</button></td>
          </tr>
        </tbody>
      </table>
      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>Currently no cars in service</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button (click)="showGross()" class="btn btn-primary float-left">
            Show Gross
          </button>
    </div>
  </div>
  <app-total-cost #totalCostRef [totalCost]="totalCost" (shownGross)="onShownGross($event)"></app-total-cost>
  <div class="row" *ngIf="grossCost">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right">TOTAL GROSS COST: {{ grossCost }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="showForm" class='panel panel-primary'>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <app-edit-car></app-edit-car>          
      </div>
    </div>
  </div>
</div>
</div>


