/* You can add global styles to this file, and also import other style files */
body{
    background: #B3C7B8;
}


.carservice-table {
    background: white;
  }
    th {
      font-weight: 700;
      text-transform: uppercase;
      color: black;
    }
  
    td {
      color:black;
    }
  
    .row-error {
      border-left: 2px solid red;
    }

    .data-header {
      color: white;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 15px;
    }
    
    .data-container {
      padding: 15px;
      background: white;
      margin: 15px;
    }
    
    .error {
      background: red;
      color: white;
      font-size: 11px;
      padding: 4px 8px;
    }